// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info{
	font-size: 150%;
	text-align: center;
}

.form{
  margin-left: auto;
  margin-right:auto;
  text-align: center;
}

.basics{
	font-size: 110%;
	text-align: center;
}

.resume-border{
	outline: 1px solid black;
}

.bold{
	font-weight: bold;
}

.tabbed{
	padding-left:3em;
}