<div class='container'>
	<br>
	<div class='info'>The JSON Resume has been parsed</div>
	<br><br>
	<div class='resume-border'>
		<div class='container'>

			<div class='basics'>
				<br>
				<% @basics[1].each do |x| %>
					<%= x[1] %><br>
				<% end %>
				<br>
			</div>

			<div>
				<h4><%= "education".upcase %></h4><hr>
				<% @mhc.each do |details| %>
					<% if details[0] == 'Awards' %>
						<span class='bold'><%= details[0] %>: </span><br>
							<% @mhc_awards.each do |award| %>
								<span class='tabbed'>
									<span class='bold'%><%= award[0] %>: </span><%= award[1] %><br>
								</span>
							<% end %>
					<% else %>
						<span class='bold'%><%= details[0] %>: </span><%= details[1] %><br>
					<% end %>
				<% end %>
				<br>

				<% @next_academy.each do |details| %>
					<% if details[0] == 'Apps' %>
						<span class='bold'><%= details[0] %>: </span><br>
							<% @next_apps.each do |app| %>
								<span class='tabbed'><span class='bold'%><%= app[0] %></span><br></span>
								<span class='tabbed'><%= app[1] %></span><br>
								<% end %>
					<% else %>
						<span class='bold'%><%= details[0] %>: </span><%= details[1] %><br>
					<% end %>
				<% end %>
				<br>
			</div>

			<div>
				<h4><%= @exp_corporate[0].upcase %></h4><hr>
				<% @exp_corporate[1].each do |exp| %>
					<% exp.each do |details| %><br>
						<% if details[0] == 'Details' %>
						<ul><%= simple_format(details[1]) %></ul>
						<% else %>
							<span class='bold'%><%= details[0] %>: </span> <%= details[1] %>
						<% end %>
					<% end %><br>
				<% end %>
				<br>
			</div>

			<div>
				<h4><%= @exp_educator[0].upcase %></h4><hr>
				<% @exp_educator[1].each do |exp| %>
					<% exp.each do |details| %><br>
						<span class='bold'%><%= details[0] %>: </span> <%= details[1] %>
					<% end %><br>
				<% end %>
				<br>
			</div>

			<div>
				<h4><%= @skills[0].upcase %></h4><hr>
					<% @skills[1].each do |details| %>
						<span class='bold'%><%= details[0] %>: </span> <%= details[1] %><br>
					<% end %>
				<br>
			</div>

		</div>
	</div>
</div>