<div class='container'>
	<div class='info'>
		<br>
		Welcome. This is an app that will take Janice Shiu's resume in .json format and render it.
		You can view and download the .json file <a href="https://bitbucket.org/contrepoint/json_resume_parser/src/f4db9b7f554d5b4e2104810c6e9cddc6db10fe40/janice_resume.json?at=master&fileviewer=file-view-default">here</a>
	</div>

	<div class='form'>
		<br>
		<%= form_for(@resume) do |f| %>
			<%= f.file_field(:file, accept: 'application/json', class: "form") %><br>
			<%= f.submit 'Upload the Resume!' %>
		<% end %>
	</div>
</div>